In [81]:
import pandas as pd 
import pyodbc
from sqlalchemy import create_engine
import os
import re

In [82]:
# Extracting the month and year
file_name = os.path.basename("./Poush_2081_Publish-2.xlsx")
match = re.search(r"([A-Za-z]+)_(\d{4})", file_name)

month_year = f"{match.group(1)} {match.group(2)}"

print(month_year)

Poush 2081

In [83]:
# Reading the Data
data = pd.read_excel("./Poush_2081_Publish-2.xlsx", sheet_name="C14", skiprows=2)
display(data)

,Unnamed: 0,S.No.,Province,District,Class 'A',Class 'B',Class 'C',Total,Population,Pop. Per Branch
0,NaN,1.0,Koshi,Taplejung,24,0,0,24,120590,5024.583333
1,NaN,2.0,Koshi,Panchthar,28,3,2,33,172400,5224.242424
2,NaN,3.0,Koshi,Ilam,38,9,1,48,279534,5823.625
3,NaN,4.0,Koshi,Jhapa,139,53,12,204,998054,4892.421569
4,NaN,5.0,Koshi,Sankhuwasabha,32,1,0,33,158041,4789.121212
...,...,...,...,...,...,...,...,...,...,...
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,"* Population 29,164,578 based on final popula...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,https://censusnepal.cbs.gov.np/,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,$ E Refers to Infrastructure Development Bank,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,"^ Number of branches include head office, bank...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
# Data cleaning
data.drop(columns=['Unnamed: 0'], inplace=True) # Drop the index, or unnamed column
data = data.dropna() # Remove any of the na values
data["Pop. Per Branch"] = data["Pop. Per Branch"].round().astype(int) #As pop. per branch is float, convert it to int
# Add new column for MonthYear
data["MonthYear"] = month_year
display(data)

,S.No.,Province,District,Class 'A',Class 'B',Class 'C',Total,Population,Pop. Per Branch,MonthYear
0,1.0,Koshi,Taplejung,24,0,0,24,120590,5024,Poush 2081
1,2.0,Koshi,Panchthar,28,3,2,33,172400,5224,Poush 2081
2,3.0,Koshi,Ilam,38,9,1,48,279534,5823,Poush 2081
3,4.0,Koshi,Jhapa,139,53,12,204,998054,4892,Poush 2081
4,5.0,Koshi,Sankhuwasabha,32,1,0,33,158041,4789,Poush 2081
...,...,...,...,...,...,...,...,...,...,...
78,73.0,Sudur Paschim,Achham,18,3,0,21,228852,10897,Poush 2081
79,74.0,Sudur Paschim,Kanchanpur,61,11,1,73,513757,7037,Poush 2081
80,75.0,Sudur Paschim,Darchula,21,2,0,23,133310,5796,Poush 2081
81,76.0,Sudur Paschim,Baitadi,22,2,0,24,242157,10089,Poush 2081
82,77.0,Sudur Paschim,Dadeldhura,24,1,0,25,139602,5584,Poush 2081

In [85]:
# Connect to SQL Server

#DB Connection
server = r"SAYUJYA\SQLEXPRESS"
database = "BusinessInformationSystems"

#Establish Connection
conn_str = f"mssql+pyodbc://{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server"
engine = create_engine(conn_str)

In [86]:
# Insert Data into SQL Server

data.to_sql("MonthlyStatistics", engine, if_exists="append", index=False)

print("Data inserted into SQL Server successfully")

Data inserted into SQL Server successfully